<div class="puzzle-tile color-@(BackgroundColor) @(Value == 0 ? "empty-tile" : "")" @onclick="HandleClick">
    @(Value == 0 ? "" : Value.ToString())
</div>

@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public int Row { get; set; }

    [Parameter]
    public int Column { get; set; }

    private int BackgroundColor { get; set; }

    [Parameter]
    public EventCallback<(int, int)> OnMove { get; set; }

    protected override void OnInitialized()
    {
        BackgroundColor = GetBackgroundColor();
    }

    private async Task HandleClick()
    {
        if (OnMove.HasDelegate)
        {
            await OnMove.InvokeAsync((Row, Column));
        }
    }

    private int GetBackgroundColor()
    {
        Random random = new();
        return random.Next(1, 5);
    }
}
