.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background: #f3f4f6;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 0.75rem;
    padding: 1.5rem;
    width: 90%;
    max-width: 320px;
    text-align: center;
}

.modal-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #374151;
    font-weight: 500;
}

.modal-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 1rem;
}

    .button-wrapper .modal-button {
        margin-bottom: 0; /* Remove margin-bottom individual dos botões */
        width: 100%;
        flex: 1;
    }

.primary-button {
    background: #14b8a6;
    color: white;
}

.secondary-button {
    background: white;
    color: #374151;
    border: 2px solid #e5e7eb;
}

@media (min-width: 768px) {
    .button-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .modal-button {
        width: 48%;
    }
}
